@keyframes icon1 {
  0% { left:-1200px; top:0px;opacity: 0;}
  60% { left:-1200px; top:0px;opacity: 1; }
  100% { left:0px; top:0px; }

}
@keyframes icon2 {
  0% { left:-1200px; top:0px; }
  50% { left:0px; top:0px; }
}
@keyframes icon3 {
    from {transform: scale(0);}
    to {transform: scale(1);}
}
@keyframes icon4 {
  0% { right:-1200px; top:0px; }
  50% { right:0px; top:0px; }
}
@keyframes icon5 {

  0% { right:-1200px; top:0px;opacity: 0;}
  60% { right:-1200px; top:0px;opacity: 1; }
  100% { right:0px; top:0px; }
}

@keyframes Polig{

  0% {left: -20vw; background-color: white; opacity: 0.1}
  100% {left: 50vw; background-color: green;opacity: 1}
}
@keyframes Polig1{

  0% { background-color: green }
  100% { background-color:green ;}
}
